*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 60%;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 383px;
    background: white;
    padding: 10px 0;
}

nav {
    text-align: center;
    color: black;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
}
  	
.container {
    display: flex;
    justify-content: center;
}

.imagem-fundo {
    width: 70%;
}

.caixa {
    width: 60%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: 383px;
}

.pets {
    width: 20%;
    position: absolute;
    top: 90px;
    left: 990px;
}